{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book_title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}">
</head>
<body>
    <h1>{{ book_title }}</h1>
    <audio src="{{book_filepath}}" id="myAudio" controls></audio>

    <div id="currentTime">00:00:00</div>
    <div>
        <h3>Bookmark</h3>
        <button id="bookmark-add-btn">add</button>
        <ul class="bookmark">
            {% for ts in timestamps %}
                <li data-id="{{ ts.id }}" data-second="{{ ts.second }}">
                    <button class="play-btn" onclick="play_second(this.parentElement.getAttribute('data-second'))">play</button>
                    <button class="del-btn">del</button>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Favorite</h3>
        <button>add</button>
    </div>

    <div>
        <h3>Memo</h3>
        <button>add</button>
    </div>
    
    <script>
        const myAudio = document.getElementById("myAudio"); // Audio객체 취득
        
        function formatSecondsAsTime(secs) {
            var hr  = Math.floor(secs / 3600);
            var min = Math.floor((secs - (hr * 3600))/60);
            var sec = Math.floor(secs - (hr * 3600) -  (min * 60));

            if (hr < 10){ 
                hr = "0" + hr; 
            }
            if (min < 10){ 
                min = "0" + min; 
            }
            if (sec < 10){ 
                sec  = "0" + sec;
            }

            return hr + ':' + min + ':' + sec;
        }

        myAudio.addEventListener('timeupdate', ()=>{
            const currentTimeText = document.getElementById("currentTime");
            currentTimeText.innerHTML = formatSecondsAsTime(myAudio.currentTime);
        });
         
        function play_second(sec){
            myAudio.currentTime = parseInt(sec);
        }

        const li_all = document.querySelectorAll("li");
        li_all.forEach(li => {
            var second = parseInt(li.getAttribute("data-second"));
            var timestamp_str = formatSecondsAsTime(second);
            li.prepend(document.createTextNode(timestamp_str));
        });
                    
        const add_bookmark = document.getElementById("bookmark-add-btn");
        add_bookmark.onclick = () => {
            fetch("{% url 'bookmark' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": '{{csrf_token}}',
                },
                body: JSON.stringify({
                    audio_id: parseInt('{{ audio_id }}'),
                    second: Math.floor(myAudio.currentTime),
                }),
            })
            .then((response) => response.json())
            .then((data) => {
                var ul = document.querySelector("ul.bookmark");

                var li = document.createElement("li");
                li.setAttribute("data-id", data.timestamp_id);
                li.setAttribute("data-second", data.second);

                var play_btn = document.createElement("button");
                play_btn.setAttribute("class", "play-btn");
                play_btn.innerHTML = "play";
                play_btn.onclick = () => {
                    play_second(play_btn.parentElement.getAttribute("data-second"));
                };
                
                var del_btn = document.createElement("button");
                del_btn.setAttribute("class", "del-btn");
                del_btn.innerHTML = "del";

                li.appendChild(document.createTextNode(formatSecondsAsTime(data.second)));
                li.appendChild(play_btn);
                li.appendChild(del_btn);
                ul.appendChild(li);
            });
        }
    </script>

    <script type="module" src="{% static 'book/main.js' %}"></script>

    </body>
</html>