{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book_title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}">
</head>
<body>
    <h1>{{ book_title }}</h1>
    <audio src="{{book_filepath}}" id="myAudio" controls></audio>

    <div class="controller">
        <button id="rewind-btn">rewind 10s</button>
        <span id="currentTime">00:00:00</span>
        <button id="forward-btn">forward 10s</button>
        <button id="speed-btn">x1.0</button>
        <div class="timeline">
            <input id="progress-bar" type="range" min="0" max="100" value="0" style="width: 90vw;">
        </div>
    </div>
    
    <div>
        <h3>Bookmark</h3>
        <button id="bookmark-add-btn">add</button>
        <ul class="bookmark">
            {% for ts in bookmarks %}
                <li data-id="{{ ts.id }}" data-second="{{ ts.second }}">
                    <button class="play-btn" onclick="play_second(this.parentElement.getAttribute('data-second'))">play</button>
                    <button class="del-btn" onclick="del_timestamp(this.parentElement.getAttribute('data-id'))">del</button>
                    <div style="font-size:small">created at: {{ ts.created_at|date:"Y-m-d h:i A" }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Favorite</h3>
        <button id="favorite-add-btn">add</button>
        <ul class="favorite">
            {% for ts in favorites %}
                <li data-id="{{ ts.id }}" data-second="{{ ts.second }}">
                    <button class="play-btn" onclick="play_second(this.parentElement.getAttribute('data-second'))">play</button>
                    <button class="del-btn" onclick="del_timestamp(this.parentElement.getAttribute('data-id'))">del</button>
                    <div style="font-size:small">created at: {{ ts.created_at|date:"Y-m-d h:i A" }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Memo</h3>
        <button id="memo-add-btn">add</button>
        <ul class="memo">
            {% for ts in memos %}
                <li data-id="{{ ts.id }}" data-second="{{ ts.second }}">
                    <button class="play-btn" onclick="play_second(this.parentElement.getAttribute('data-second'))">play</button>
                    <button class="del-btn" onclick="del_timestamp(this.parentElement.getAttribute('data-id'))">del</button>
                    <div style="font-size:small">created at: {{ ts.created_at|date:"Y-m-d h:i A" }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        const myAudio = document.getElementById("myAudio"); // Audio객체 취득
        const currentTime_text = document.getElementById("currentTime");
        const progress_bar = document.getElementById("progress-bar");
        
        function formatSecondsAsTime(secs) {
            var hr  = String(Math.floor(secs / 3600)).padStart(2, '0');
            var min = String(Math.floor((secs - (hr * 3600))/60)).padStart(2, '0');
            var sec = String(Math.floor(secs - (hr * 3600) -  (min * 60))).padStart(2, '0');
            
            return hr + ':' + min + ':' + sec;
        }

        myAudio.addEventListener('timeupdate', ()=>{
            currentTime_text.innerHTML = formatSecondsAsTime(myAudio.currentTime);
            progress_bar.value = (myAudio.currentTime / myAudio.duration) * 100
        });

        progress_bar.addEventListener('change', () => {
            myAudio.currentTime = myAudio.duration * progress_bar.value / 100;
        });

        const rewind_btn = document.getElementById("rewind-btn");
        const forward_btn = document.getElementById("forward-btn");
        const speed_btn = document.getElementById("speed-btn");
        rewind_btn.onclick = () => {myAudio.currentTime -= 10;}
        forward_btn.onclick = () => {myAudio.currentTime += 10;}
        speed_btn.onclick = () => {
            myAudio.playbackRate += 0.2;
            if (myAudio.playbackRate > 2.0) {
                myAudio.playbackRate = 0.8;
            }
            speed_btn.innerHTML = `x${myAudio.playbackRate.toFixed(1)}`;
        }

        
        const li_all = document.querySelectorAll("li");
        li_all.forEach(li => {
            var second = parseInt(li.getAttribute("data-second"));
            var timestamp_str = formatSecondsAsTime(second);
            li.prepend(document.createTextNode(timestamp_str));
        });


        const add_bookmark = document.getElementById("bookmark-add-btn");
        const add_favorite = document.getElementById("favorite-add-btn");
        const add_memo = document.getElementById("memo-add-btn");

        add_bookmark.onclick = () => {create_timestamp("bookmark");}
        add_favorite.onclick = () => {create_timestamp("favorite");}
        add_memo.onclick = () => {create_timestamp("memo");}
        
        
        function create_timestamp(stamp_type) {
            fetch("/timestamp/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": '{{csrf_token}}',
                },
                body: JSON.stringify({
                    audio_id: parseInt('{{ audio_id }}'),
                    second: Math.floor(myAudio.currentTime),
                    stamp_type: stamp_type.toUpperCase(),
                }),
            })
            .then((response) => response.json())
            .then((data) => {
                var ul = document.querySelector("ul." + stamp_type);

                var li = document.createElement("li");
                li.setAttribute("data-id", data.timestamp_id);
                li.setAttribute("data-second", data.second);

                var play_btn = document.createElement("button");
                play_btn.setAttribute("class", "play-btn");
                play_btn.innerHTML = "play";
                play_btn.onclick = () => {
                    play_second(play_btn.parentElement.getAttribute("data-second"));
                };
                
                var del_btn = document.createElement("button");
                del_btn.setAttribute("class", "del-btn");
                del_btn.innerHTML = "del";
                del_btn.onclick = () => {
                    del_timestamp(del_btn.parentElement.getAttribute("data-id"));
                };

                function format_datetime(str) {
                    const date = new Date(str);
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const day = String(date.getDate()).padStart(2, '0');
                    
                    var hours = date.getHours();
                    hours = hours % 12 ? hours % 12 : 12; // the hour '0' should be '12'
                    var minutes = String(date.getMinutes()).padStart(2, '0');
                    var ampm = hours >= 12 ? 'PM' : 'AM';
                    
                    return `${year}-${month}-${day} ${hours}:${minutes} ${ampm}`;
                }

                var created_at = document.createElement("div");
                created_at.setAttribute("style", "font-size: small");
                created_at.innerHTML = "created at: " + format_datetime(data.created_at);

                li.appendChild(document.createTextNode(formatSecondsAsTime(data.second)));
                li.appendChild(play_btn);
                li.appendChild(del_btn);
                li.appendChild(created_at);
                ul.appendChild(li);
            });
        }

        function play_second(sec){
            myAudio.currentTime = parseInt(sec);
        }

        function del_timestamp(id){
            var confirmValue = confirm("Are you sure you want to delete?");
            if (confirmValue === true && id) {
                fetch("/timestamp/"+id, {
                    method: "DELETE",
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                })
                .then((response) => response.json())
                .then((data) => {
                    var elem = document.querySelector(`li[data-id="${id}"]`);
                    elem.remove();
                })
            }
        }
    </script>

    <script type="module" src="{% static 'book/main.js' %}"></script>

    </body>
</html>