{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book_title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/book.css' %}">
</head>
<body>
    <h1>{{ book_title }}</h1>
    <audio src="{{book_filepath}}" id="myAudio" preload="auto"></audio>

    <div class="timeline">
        <input id="progress-bar" type="range" min="0" max="100" value="0">
    </div>
    <div class="controller">
        <button id="play-toggle-btn" class="play-icon"></button>
        <span id="currentTime">00:00:00</span> / <span id="duration">00:00:00</span>
        <button id="rewind-btn">rewind 10s</button>
        <button id="forward-btn">forward 10s</button>
        <button id="speed-btn">x1.0</button>
    </div>
    
    <main>
        <section class="bookmark">
            <header>
                <h3>Bookmark</h3>
                <button id="bookmark-add-btn">+<img class="add-icon" src="{% static 'icons/bookmark-ribbon.png' %}" alt="add"></button>
            </header>
            <ul>
                {% for ts in bookmarks %}
                    <li data-id="{{ ts.id }}" data-second="{{ ts.second }}">
                        <div class="created-at">created at: {{ ts.created_at|date:"Y-m-d h:i A" }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    
        <section class="favorite">
            <header>
                <h3>Favorite</h3>
                <button id="favorite-add-btn"><img class="add-icon" src="{% static 'icons/hearts---v1.png' %}" alt="add"></button>
            </header>
            <ul>
                {% for ts in favorites %}
                    <li data-id="{{ ts.id }}" data-second="{{ ts.second }}">
                        <div class="created-at">created at: {{ ts.created_at|date:"Y-m-d h:i A" }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    
        <section class="memo">
            <header>
                <h3>Memo</h3>
            </header>
            <div class="new-memo">
                <textarea name="memo-area" id="memo-area" cols="30" rows="5"></textarea>
                <button id="memo-add-btn">ADD</button>
            </div>
            <ul>
                {% for memo in memos %}
                    <li data-id="{{ memo.timestamp_id.id }}" data-second="{{ memo.timestamp_id.second }}">
                        <div class="content">{{ memo.body }}</div>
                        <div class="created-at">created at: {{ memo.timestamp_id.created_at|date:"Y-m-d h:i A" }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        
        <section class="toc">
            <header>
                <h3>TOC</h3>
                <button id="toc-add-btn"><img class="add-icon" src="{% static 'icons/icons8-plus-64.png' %}" alt="add"></button>
            </header>
            <ul>
                {% for toc in tocs %}
                    <li data-id="{{ toc.timestamp_id.id }}" data-second="{{ toc.timestamp_id.second }}">
                        <!-- <div style="font-size:small">created at: {{ toc.timestamp_id.created_at|date:"Y-m-d h:i A" }}</div> -->
                        <div class="content">{{ toc.content }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <script>
        let csrf_token = '{{csrf_token}}';
        let audio_id = '{{audio_id}}';
    </script>
    <script type="module" src="{% static 'scripts/book/main.js' %}"></script>
    <script type="module" src="{% static 'scripts/time-formatter.js' %}"></script>
    <script type="module" src="{% static 'scripts/playback-controller.js' %}"></script>
    <script type="module" src="{% static 'scripts/timestamp-api-controller.js' %}"></script>
    <script type="module" src="{% static 'scripts/timestamp-controller.js' %}"></script>

</body>
</html>